# Executáveis e arquivos gerados na compilação de C
*.o
*.out
*.exe

# Python
__pycache__/
*.pyc
.venv/

# Sistema e editor
.DS_Store
Thumbs.db

# Ignorando programas em C
intro-programacao/hello
intro-programacao/consumo
intro-programacao/retangulo 
intro-programacao/estacionamento
